

.grid-container {
        padding-right: 0%;
        font-family: "Avenir Next", sans-serif;
        text-align: left;
        letter-spacing: 0.05em;
        text-transform: none;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 55px;
        color: $color-very-dark-blue1;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }