

.container-sa {
    p {
        margin: 2rem
    }

    .skills-container {
        display: flex;
        width: 95%;
        margin-right: auto;
        margin-left: auto;

        ul {
            margin: 2rem;
            width: 500px;

            li {
                color: $color-very-dark-blue2;
            }

        }

    }
}

.skills-text{
margin-left: 80px;
max-width: 800px;
}
