/* COLORES */
$color-black: #000000;
$color-blackish: #222222;
$color-white: #ffffff;
$color-whitish: #f6f2ee;
$color-light-brown1: #eecfaeed;
$color-light-brown2: #ebdac6;
$color-gray-blue: #2f344d;
$color-orange1: #d68c03;
$color-orange2: #ef9c03;
$color-blue: #007bff;
$color-dark-aqua: #004753;
$color-very-dark-blue1: #1a1b1f;
$color-very-dark-blue2: #2f344d;